<header class="header bg-dark">
  <div class="container">
    <div class="row">
      <div class="col pt-3 pb-3 d-flex justify-content-between">
        <a class="header-brand text-uppercase text-white">Video Course</a>
        <div class="btn-group" role="group" aria-label="Identify users">
          <button type="button" class="btn btn-secondary">User Login</button>
          <button type="button" class="btn btn-secondary">Logout</button>
        </div>
      </div>
    </div>
  </div>
</header>
